@keyframes preloader-animation {
  0% {
    transform: rotateZ(0);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

ul,
li,
p {
  margin: 0;
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: sans-serif;
}
