<p class='countries-header'>Several matches found. Please choose the country
  from below list:</p>
<ul class='country-list' data-value='country-list'>
  {{#each this}}
    <li class='country'>{{this.name}}</li>
  {{/each}}
</ul>