<p class='countries-header'>Найдено несколько совпадений. Пожалуйста, выберите страну из списка ниже:</p>
<ul class='country-list' data-value='country-list'>
  {{#each this}}
    <li class='country'>{{this.name}}</li>
  {{/each}}
</ul>